

<!-- Carousel -->

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
<!-- Wrapper for slides -->
<div class="carousel-inner">
<div class="item active">
  <%= image_tag 'welcome/champagne.png' %>
  <div class="carousel-caption">
    <h3></h3>
    <p></p>
  </div>
</div>
<div class="item">
  <%= image_tag 'welcome/camera.jpg' %>
  <div class="carousel-caption">
    <h3></h3>
    <p></p>
  </div>
</div>
<div class="item">
  <%= image_tag 'welcome/malediven.jpg' %>
  <div class="carousel-caption">
    <h1></h1>
    <p></p>
  </div>
</div>
</div>
<!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<!--Test met images-->
<!-- <div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="365" style="width:<%=@days_p%>%;">
    Dagen tot bruiloft: <%= @days_p %>
  </div>
</div> -->

<!--Test met images-->
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="thumbnail">
      <%= image_tag 'welcome/de_zwarte_boer.png' %>
        <div class="caption">
          <h3>De Zwarte Boer</h3>
          <p>In het pittoreske Leuvenum ligt midden in de bossen het kleinste 4 sterren hotel van Nederland.</p>
          <div class='text-center'>
          <p><a href="location" class="btn btn-primary" role="button" btn-pull-right>Meer info</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="thumbnail">
      <img src="http://www.letsgodigital.org/images/producten/340/specs/canon_eos_10d_front.jpg" alt="...">
        <div class="caption">
          <h3>Foto's</h3>
          <p>We zouden het leuk vinden als zoveel mogelijk mensen fotos maken. Neem je camera dus mee!</p>
          <div class='text-center'>
          <p><a href="location" class="btn btn-primary" role="button" btn-pull-right>Meer info</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="thumbnail">
      <img src="http://cdn.kveller.com/blog/wp-content/uploads/2011/11/Hanukkah-presents-300x200.jpg" alt="...">
        <div class="caption">
          <h3>Kado Tips</h3>
          <p>Wat willen we echt graag hebben. Kijk hier voor een lijstje van zaken die we graag ontvangen.</p>
          <div class='text-center'>
          <p><a href="location" class="btn btn-primary" role="button" btn-pull-right>Meer info</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="thumbnail">
      <img src="http://www.kontaktderkontinenten.nl/Images/Foto_kamers/hotelkamer-210_200x300_2910.aspx" alt="...">
        <div class="caption">
          <h3>Overnachten</h3>
          <p>Leuvenum is niet voor iedereen naast de deur. Hier enkele tips voor wie wil overnachten.</p>
          <div class='text-center'>
          <p><a href="location" class="btn btn-primary" role="button" btn-pull-right>Meer info</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>


